html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

img {
    max-width: 100%;
}

#pay table {
    border-collapse: collapse;
}

#pay table,
#pay th,
#pay td {
    border: 1px solid black;
}
